.chip-bg {
    border-radius: 4px;
    color: white;
    min-width: 120px;
    min-height: 40px;
    text-align: center;
    align-content: center;

    strong {
        font-size: 1em;
    }
}

.chip-bg[data-completed=true] {
    background-color: green;
}

.chip-bg[data-completed=false] {
    background-color: orange;
}
